<h1>和歌編集</h1>
<% if @waka.errors.any? %>
  <div>
    <p><%= @waka.errors.count %>件のエラーがあります</p>
    <ul>
      <% @waka.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model: @waka do |f| %>
  <div>
    <%= f.label :upper_phrase_text, '上の句' %>
    <%= f.text_field :upper_phrase_text %>
  </div>
  <div>
    <%= f.label :lower_phrase_text, '下の句' %>
    <%= f.text_field :lower_phrase_text %>
  </div>
  <div>
    <%= f.label :upper_phrase_yomi, '上の句（読み）' %>
    <%= f.text_field :upper_phrase_yomi %>
  </div>
  <div>
    <%= f.label :lower_phrase_yomi, '下の句（読み）' %>
    <%= f.text_field :lower_phrase_yomi %>
  </div>
  <div>
    <%= f.label :author, '作者' %>
    <%= f.text_field :author %>
  </div>
  <div>
    <%= f.label :source, '出典' %>
    <%= f.text_field :source %>
  </div>
  <div>
    <%= f.label :era, '時代' %>
    <%= f.text_field :era %>
  </div>
  <div>
    <%= f.label :notes, '備考' %>
    <%= f.text_area :notes %>
  </div>
  <div>
    <%= f.label :flag, 'フラグ' %>
    <%= f.select :flag, Waka::FLAG_TYPES.map { |k, v| [v, k] } %>
  </div>

  <%= f.submit '更新する' %>
<% end %>
<%= link_to '一覧に戻る', wakas_path %>
