<h1>和歌一覧</h1>
<%= link_to '新規登録', new_waka_path %>
<%= form_with url: wakas_path, method: :get do |f| %>
  <%= f.text_field :keyword, value: params[:keyword], placeholder: '作者・上の句・下の句で検索' %>
  <%= f.submit '検索' %>
<% end %>
<%= link_to '全件', wakas_path %>
<% Waka::FLAG_TYPES.each do |k, v| %>
  <%= link_to "#{v}のみ", wakas_path(flag: k) %>
<% end %>
<% @wakas.each do |waka| %>
  <div>
    <p><%= waka.upper_phrase_text %></p>
    <p><%= waka.lower_phrase_text %></p>
    <p><%= waka.author %></p>
    <%= link_to '詳細', waka %>
    <%= link_to '編集', edit_waka_path(waka) %>
    <%= button_to '削除', waka, method: :delete, data: { turbo_confirm: '削除しますか？' } %>
  </div>
  <hr>
<% end %>
<%= paginate @wakas %>
